@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

body {
  /* margin-left: 2rem; */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.profile {
  margin:2rem;
  overflow: hidden;
}

.users-container {
  align-items: center;
  display: flex;
  flex-direction: column;

}

.profile-button {
  font-size:0.875;
  background-color: #FCEEC5;
  color:black;
  text-decoration: none;
  text-align:center;
  border-radius: 10%;
  border:none;
  width: 100%; 
  margin:2%;
}

.profile-button :hover {
  background-color: #F1C470;
  color: white;
  transition: all .2s ease-in-out;
  scale: 0.95;
  
}

.post-box {
  margin-top: 1rem;
  width: 85%;
  padding-left: 5%;
  padding-right: 5%;
  font-family: 'Inter', sans-serif;
  border-style: solid;
  border-color: #d1d1d1;
  border-width:2px;
  border-radius: 10px;
}

.post-length {
  font-family: 'Inter', sans-serif;
  color: #6e6e6e;
  font-weight:800;
  margin-left: 1rem;
}

.post-title {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size:14px;

}

.preview-name{
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size:20px;

}

.post-body {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  color: #6e6e6e;
  font-size:12px;
}

.info-details {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  margin: 0;
  margin-left: 2rem;
  font-size:4wv;
}

.info-details-bs {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  margin: 0;
  margin-left: 2rem;
  font-size:4wv;
  padding-right: 1rem;
  border-right: 0.5px solid;
}

.info-details-bs:last-child { border-right: none; }

.info {
  display: flex;
  margin-top: 1rem;
  font-size:1.5vw;
}

.info-name {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size:10wv;
  margin-top:0;
}

.post-name {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  margin-top: 3rem;
  font-size:6wv;

}

.small-icon {
  height: 1.5rem;
  width: 1.5rem;
}

.header-img {
  object-fit: cover;
  position: relative;
  width: 100%;
  height: auto;
  margin: -15% 0 0 0;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 45%;
  height: 80%;
  margin: auto;
  text-align: center;
  align-items: center;
  overflow: auto;
  border-radius: 0.5rem;
}

.posts-container {
  overflow: auto;
  display: flex;
  align-items: center;
  padding: 0 10% 10% 10%;
  /* position: relative; */
 
}

.outer {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  height: 100vh;
  position: absolute;
}

.post-wrapper {
  display: flex;
  height: 100%;
  align-items: center;
  box-sizing: border-box;
  transition: .3s;

}

.loading {
  align-self: center;
  font-weight: 900;
}

@media screen and (max-width: 950px) {
  .card, .profile{
    width: fit-content; /* The width is 100%, when the viewport is 800px or smaller */
    height: fit-content;
    overflow: scroll;
  }

  .info {
    font-size: 3vw;
  }
}
